body{
    background-color: #FDFDF1;
    padding: 5% 15%;
}
@media only screen and (max-width: 500px) {
    body {
        padding: 4% 4%;
    }
    card{
        padding: 1%;
    }
  }

input{
    border-radius: 10px;
    background-color: #CAF1DE;
    width: 100%;
    border-style: outset;
}

h1{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
}

.card{
    background-image: linear-gradient(to right,#ACDDDE,#CAF1DE,#E1F8DC,#FEF8DD,#FFE7C7,#F7DABA);
    padding: 4%;
    border-radius: 10px;
    
}


.input-group{
    margin-top: 1%;
}

.Following{
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.deleteButton{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #ffffff;
}
.deleteButton:hover{
    background-color: red;
}
.followBtn{
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 0 5%;
}
.followBtnDark{
    background-color: #E8E7E3;
    border: 1px solid #b8c0c7;
    border-radius: .25rem;
    padding: 0 5%;
}
.followBtn:hover{
    background-color: #3BD80D;
}
.btn{
    margin: 1%;
}

.semsem{
    padding-bottom: 2%;
}